<% include ../partials/head%>
    <div class="container main-container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Yelp Camp</p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 1</li>
                    <li class="list-group-item">Info 1</li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <img class="card-img-top" src="<%=data.image%>" alt="camp Image">
                    <div class="card-body">
                        <div class="card-title">
                            <h4 class="float-right">$9.00/night</h4>
                            <h4>
                                <%=data.name%>
                            </h4>
                        </div>
                        <p class="card-text">
                            <%=data.description%>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">Submitted by: <%=data.author.username%>, Last updated 3 mins ago</small>
                        </p>
                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%=data._id%>/edit">Edit</a>
                        <form id="delete-form" action="/campgrounds/<%=data._id%>?_method=DELETE" method="POST">
                            <input class="btn btn-sm btn-danger" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
                <br>
                <div class="card bg-light mb-3">
                    <!-- <h4 class="card-header">
                        Reviews
                    </h4> -->

                    <div class="card-body">
                            <div class="card-title text-right">
                                    <a class="btn btn-success" href="/campgrounds/<%=data._id%>/comments/new">Leave a review</a>
                            </div>
                            <hr>
                        <%data.comments.forEach((comment)=>{%>
                            <div class="card-text">
                                <strong>
                                    <%=comment.author.username%>
                                </strong>
                                <span class="float-right text-muted">10 days Ago</span>
                                <p>
                                    <%=comment.text%>
                                </p>
                            </div>
                            <%});%>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <% include ../partials/footer%>