<% include ../partials/head%>
<div class="container main-container">
    <h1><%=data.name%></h1>
    <img  style="width:50%" src="<%=data.image%>"  alt="camp Image">
    <p><%=data.description%></p>
    <h3>Comments</h3>
    <%data.comments.forEach((comment)=>{%>
        <p><strong><%=comment.author%></strong> - <%=comment.text%></p>
    <%});%>
    <a class="btn btn-success" href="/campgrounds/<%=data._id%>/comments/new">Add comment</a>
    
</div>
<% include ../partials/footer%>